@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Roboto:wght@500&display=swap');
body {
  margin: 0;
  font-family: "Roboto"!important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-height{
  height: 700px!important;
}

.user-card{
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-card-body{
  border-radius: 10px;
}

.user-card-name{
  font-size: 2.5rem!important;
}

.link-del{
  text-decoration: none!important;
}


/* ticks */

* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

.demo-wrapper {
  text-align: center;
  padding: 100px 0;
}

.svg-wrapper {
  background: blueviolet;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 85px;
}

.path {
  fill: transparent;
  stroke: #53bf8b;
  stroke-width: 2;
  stroke-dasharray: 25;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animate 3s cubic-bezier(0, 0, 0.32, -0.13);
}

@keyframes animate {
  from {
    stroke-dashoffset: 26;
  }

  to {
    stroke-dashoffset: 0;
  }
}
