@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@500&display=swap');
body {
  margin: 0;
  font-family: "Mulish"!important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-height{
  height: 700px!important;
}


.link-del{
  text-decoration: none!important;
}